<!-- Footer -->
<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="eight columns offset-by-two">
                <ul class="inline unstyled text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="bt-stack bt-2x">
                                <i class="btl bt-circle bt-stack-1x"></i>
                                <i class="btl bt-rss bt-stack-sm bt-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.author.twitter %}
                    <li>
                        <a href="https://twitter.com/{{ site.author.twitter }}">
                            <span class="bt-stack bt-2x">
                                <i class="btl bt-circle bt-stack-1x"></i>
                                <i class="fab fab-twitter bt-stack-sm bt-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.author.facebook %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.author.facebook }}">
                            <span class="bt-stack bt-2x">
                                <i class="btl bt-circle bt-stack-1x"></i>
                                <i class="fab fab-facebook bt-stack-sm bt-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.author.linkedin %}
                    <li>
                        <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
                            <span class="bt-stack bt-2x">
                                <i class="btl bt-circle bt-stack-1x"></i>
                                <i class="fab fab-linkedin-alt bt-stack-sm bt-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.author.github %}
                    <li>
                        <a href="https://github.com/{{ site.author.github }}">
                            <span class="bt-stack bt-2x">
                                <i class="btl bt-circle bt-stack-1x"></i>
                                <i class="fab fab-github-alt bt-stack-sm bt-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.author.stackoverflow %}
                    <li>
                        <a href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}">
                            <span class="bt-stack bt-2x">
                                <i class="btl bt-circle bt-stack-1x"></i>
                                <i class="fab fab-stackoverflow bt-stack-sm bt-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="text-center text-muted">Copyright &copy; {{ site.author.name }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>
