<!-- Footer -->
<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="eight columns offset-by-two">
                <ul class="inline unstyled text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.author.twitter %}
                    <li>
                        <a href="https://twitter.com/{{ site.author.twitter }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.author.github %}
                    <li>
                        <a href="https://github.com/{{ site.author.github }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="text-center text-muted">Copyright &copy; {{ site.author.name }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>
